UserAnalyzer.folder = "DileptonSelector"
UserAnalyzer.treeName = "hwwSkim"
UserAnalyzer.inputFile = "../nTuples/TT.root"
UserAnalyzer.outputFile = "TestAnalysis.root"
UserAnalyzer.firstEvent = 0
UserAnalyzer.nEvents = 0


HWWAnalyzer.copyHistograms = "llCounters","eeCounters","emCounters","meCounters","mmCounters"
$ preselection cuts
HWWAnalyzer.analysisTreeName = "hwwAnalysis"
HWWAnalyzer.higgsMass = 160
HWWAnalyzer.cutFile = "test/HmassCuts.cut"
HWWAnalyzer.minMet = 20
HWWAnalyzer.minMll = 12
HWWAnalyzer.zVetoWidth = 15

HWWAnalyzer.minProjMetLL = 35
HWWAnalyzer.minProjMetEM = 20

$HWWAnalyzer.jetVeto.pt  = 25.
$HWWAnalyzer.jetVeto.eta = 5.
$HWWAnalyzer.jetVeto.n   = 0.
$HWWAnalyzer.topVeto.bTagProb = 2.1

